*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Mont';
    src: url(fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Unb';
    src: url(fonts/Unbounded-Regular.ttf);
}

@font-face {
    font-family: 'UnbBold';
    src: url(fonts/Unbounded-Bold.ttf);
}

img{
    width: 100%;
    height: auto;
}

body{
    font-family: 'Mont';
}

#header{
    background-color: black;
    color: white;
    padding: 10px 0;
}

.container{
    margin: 0 100px;
    display: flex;
}

#header .container{
    justify-content: space-between;
    align-items: center;
}

#main .container{
    flex-direction: column;
}

.produto-linha{
    display: flex;
    justify-content: space-between;
}

input{
    border: 2px solid black;
    padding: 5px 7px;
    border-radius: 8px;
    width: 400px;
    font-family: 'Mont';
    outline: none;
}

#carrinho-icon img{
    width: 40px;
}

#carrinho-icon{
    display: flex;
}

.produto img{
    width: 320px;
    height: 320px;
    border-radius: 10px;
}

.produto{
    border: 1px solid #000000;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
}


#carrinho-itens {
    position: absolute;
    top: 67px;
    right: 0;
    background-color: rgb(0, 0, 0);
    border: 1px solid #c8c8c8;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.215);
    display: none;
    z-index: 1000;
    width: 20%;
}

#itens-lista{
    list-style: none;
}

h1{
    font: 500 'UnbBold';
}

.logo img{
    width: 45px;
    margin-right: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

#buscar button{
    background-color: transparent;
}

i{
    font-size: 20px;
}